Repository gardener/gardener-extension-shoot-falco-service, pull requests merged in 2024-07, with the labels that each got.

#35 Read Falco and Falcosidekick versions from profile
  .ci/pipeline_definitions
  .ci/verify-falco-rules
  Makefile
  cmd/gardener-extension-shoot-falco-service/app/app.go
  falco/FalcoProfile.yaml
  hack/validate-falco-rules
  pkg/controller/lifecycle/actuator.go
  pkg/falcovalues/falcovalues.go
  pkg/falcovalues/falcovalues_test.go
  pkg/profile/profile.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#36 Updated validation and mutation for new Falco version mechanism
  cmd/gardener-extension-admission-shoot-falco-service/app/app.go
  pkg/admission/mutator/shoot_mutator.go
  pkg/admission/mutator/shoot_mutator_test.go
  pkg/admission/validator/shoot_validator.go
  pkg/admission/validator/shoot_validator_test.go
  pkg/profile/profile.go
Labels: reviewed/ok-to-test, needs/review, size/m

#33 [admission] Add `priorityClassName`
  charts/gardener-extension-admission-shoot-falco-service/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-shoot-falco-service/charts/runtime/values.yaml
  charts/gardener-extension-admission-shoot-falco-service/values.yaml
Labels: area/robustness, kind/enhancement, reviewed/lgtm, needs/ok-to-test, needs/review, size/xs

#37 Fix verify & crd
  .ci/verify
  Makefile
  crds/clusterrole-falcoprofiles.yaml
  crds/clusterrolebinding-falcoprofiles.yaml
  crds/crd-falco-profile.yaml
  crds/crd-falco-rules.yaml
  falco/falco-profile.yaml
  pkg/admission/mutator/shoot_mutator_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/s

#22 Falco Version Maintenance Controller
  cmd/gardener-extension-admission-shoot-falco-service/app/app.go
  pkg/admission/mutator/shoot_mutator.go
  pkg/admission/mutator/shoot_mutator_test.go
  pkg/admission/validator/shoot_validator.go
  pkg/controller/maintenance/add.go
  pkg/controller/maintenance/reconciler.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#39 Rename falco profile
  .ci/verify
  .ci/verify-falco-rules
  Makefile
  falco/FalcoProfile.yaml
  hack/validate-falco-rules
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#42 Fix issues when falco extension is deployed in-cluster
  charts/gardener-extension-shoot-falco-service/templates/deployment.yaml
  cmd/gardener-extension-admission-shoot-falco-service/app/app.go
Labels: needs/ok-to-test, needs/review, size/xs

#44 Fix throwing error when extension def is empty
  pkg/admission/mutator/shoot_mutator.go
Labels: needs/review

#45 Put network allow label into correct place
  charts/gardener-extension-shoot-falco-service/templates/deployment.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#46 Fix propagation of priority class name
  charts/internal/falco/templates/falco-pod-template.tpl
  pkg/falcovalues/falcovalues.go
  pkg/falcovalues/falcovalues_test.go
Labels: needs/ok-to-test, needs/review, size/s

#47 Change custom rule config
  docs/FalcoExtension.md
  hack/api-reference/service.md
  pkg/admission/mutator/shoot_mutator.go
  pkg/apis/service/types.go
  pkg/apis/service/v1alpha1/types.go
  pkg/apis/service/v1alpha1/zz_generated.conversion.go
  pkg/apis/service/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/service/validation/validation.go
  pkg/apis/service/zz_generated.deepcopy.go
  pkg/falcovalues/falcovalues.go
  pkg/falcovalues/falcovalues_test.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/m

#25 Custom webhook support
  pkg/falcovalues/falcovalues.go
  pkg/falcovalues/falcovalues_test.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/m
