Repository gardener/gardener-extension-shoot-falco-service, pull requests merged in 2024-09, with the labels that each got.

#54 Add falcoctl image
  Makefile
  crds/crd-falco-profile.yaml
  falco/falco-profile.yaml
  falco/falco.go
  falco/falcoctlversions.yaml
  falco/falcoversions.yaml
  hack/api-reference/config.md
  hack/generate-falco-profile
  imagevector/images.yaml
  imagevector/imagevector_test.go
  pkg/apis/profile/types.go
  pkg/apis/profile/v1alpha1/types.go
  pkg/apis/profile/v1alpha1/zz_generated.conversion.go
  pkg/apis/profile/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/profile/zz_generated.deepcopy.go
  pkg/utils/falcoversions/falcoversions.go
  pkg/utils/falcoversions/types.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/l

#55 Falcoctl support
  charts/internal/falco/templates/0helpers.tpl
  charts/internal/falco/templates/falco-configmap.yaml
  charts/internal/falco/templates/falco-pod-template.tpl
  charts/internal/falco/values.yaml
  docs/FalcoExtension.md
  hack/api-reference/service.md
  pkg/admission/mutator/shoot_mutator_test.go
  pkg/admission/validator/shoot_validator.go
  pkg/admission/validator/shoot_validator_test.go
  pkg/apis/service/types.go
  pkg/apis/service/v1alpha1/types.go
  pkg/apis/service/v1alpha1/zz_generated.conversion.go
  pkg/apis/service/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/service/zz_generated.deepcopy.go
  pkg/controller/lifecycle/actuator.go
  pkg/profile/profile.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  pkg/values/falcovalues.go
  pkg/values/falcovalues_suite_test.go
  pkg/values/falcovalues_test.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#56 Adding additional falco values tests
  pkg/values/falcovalues_suite_test.go
  pkg/values/falcovalues_test.go
Labels: needs/ok-to-test, needs/review, size/s

#57 Add new falcosidekick version
  falco/falcosidekickversions.yaml
  imagevector/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#60 add verify on head update
  .ci/hack/component_descriptor
  .ci/hack/set_dependency_version
  .ci/pipeline_definitions
Labels: needs/ok-to-test, needs/review, size/xs

#62 Added additional test for secrets module
  pkg/secrets/certs.go
  pkg/secrets/tokenissuer_test.go
Labels: needs/ok-to-test, needs/review, size/m

#53 [FIX] Identify only expired deprecated versions as non-valid
  pkg/admission/validator/shoot_validator.go
  pkg/admission/validator/shoot_validator_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#63 Enable Falco Usage for selected Stakeholders via Project Annotation
  charts/gardener-extension-admission-shoot-falco-service/charts/application/templates/rbac.yaml
  cmd/gardener-extension-admission-shoot-falco-service/app/app.go
  pkg/admission/validator/project.go
  pkg/admission/validator/shoot_validator.go
  pkg/admission/validator/webhook.go
  pkg/constants/constants.go
Labels: needs/ok-to-test, needs/review, size/m
