Repository gardener/gardener-extension-shoot-falco-service, pull requests merged in 2025-06, with the labels that each got.

#282 Use Gardener image reference for heartbeat container
  charts/internal/falco/templates/0helpers.tpl
  charts/internal/falco/values.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#277 Remove old api spec reference
  hack/api-reference/service.md
  pkg/admission/mutator/shoot_mutator.go
  pkg/admission/mutator/shoot_mutator_test.go
  pkg/admission/validator/shoot_validator_test.go
  pkg/apis/service/types.go
  pkg/apis/service/v1alpha1/types.go
  pkg/apis/service/v1alpha1/zz_generated.conversion.go
  pkg/apis/service/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/service/zz_generated.deepcopy.go
  pkg/controller/lifecycle/actuator.go
  pkg/migration/issue215migration.go
  pkg/migration/migrator.go
  pkg/values/falcovalues_suite_test.go
  pkg/values/falcovalues_test.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#290 Shoot falco rule support
  Makefile
  VERSION
  charts/internal/falco/templates/0helpers.tpl
  charts/internal/falco/templates/falco-pod-template.tpl
  charts/internal/falco/values.yaml
  hack/api-reference/service.md
  pkg/admission/mutator/shoot_mutator_test.go
  pkg/admission/validator/shoot_validator.go
  pkg/admission/validator/shoot_validator_test.go
  pkg/apis/service/types.go
  pkg/apis/service/v1alpha1/types.go
  pkg/apis/service/v1alpha1/zz_generated.conversion.go
  pkg/values/falcovalues.go
  pkg/values/falcovalues_test.go
Labels: kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/l
